{#
/**
 * @file
 * Sadrži tekst stranice objašnjenja za studentski modul
 */
#}

<div class='studentski-description'>
{% trans %}
    <p>Ova stranica sadrži informacije o prijavljenim ispitima.</p>
    <p>lista ispita</p>
    <p>brisanje i ažuriranje</p>
{% endtrans %}
</div>
